server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/urls
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    # Obviously not for "real production"
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true # Sets the "JDBC URL" field in the browser actual DB
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    org.springframework.web: DEBUG

